@use "./mixins" as *;

$primary-color: #fff0ed;
$neutral-color: #393939;
$nitro-blue: #5bacc3;

* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  background-color: $primary-color;
  @include flex-style(space-between);
}

.header__nav {
  // display: inline-block;
  text-align: center;
  padding: 1.25rem;
}

.header__nav-img {
  padding: 0;
  width: 3.125rem;
}

.header__nav-title {
  color: #393939;
  @include font(300);
  font-size: 2.8125rem;
  text-decoration: none;
}

.header__nav-list {
  padding-top: 1.2rem;
  width: 25rem;
  @include flex-style(space-between);
  margin: 1rem;
  list-style: none;
}

.header__nav-item {
  width: 100%;
}

.header__nav-link {
  font-size: 1.3125rem;
  text-decoration: none;
  @include font(400);
  color: $neutral-color;
}

.color {
  color: $nitro-blue;
}
