* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  background-color: #fff0ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  text-align: center;
  padding: 1.25rem;
}

.header__nav-img {
  padding: 0;
  width: 3.125rem;
}

.header__nav-title {
  color: #393939;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 2.8125rem;
  text-decoration: none;
}

.header__nav-list {
  padding-top: 1.2rem;
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  list-style: none;
}

.header__nav-item {
  width: 100%;
}

.header__nav-link {
  font-size: 1.3125rem;
  text-decoration: none;
  font-family: Open Sans;
  font-weight: 400;
  color: #393939;
}

.color {
  color: #5bacc3;
}

.main {
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
}

.main__head {
  text-align: start;
}

.main__heading {
  padding: 0.625rem 0;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 3.75rem;
  color: #393939;
}

.main__subheading {
  font-family: Open Sans;
  font-weight: 300;
  padding: 0.625rem 0;
  inline-size: 30.625rem;
  overflow-wrap: break-word;
  padding-bottom: 5%;
}

.main__button {
  padding: 1.25rem 0.2rem;
}

.main__button-box {
  z-index: 1;
  top: 58.2%;
  left: 10.9%;
  position: absolute;
  padding: 1rem;
  width: 8.87rem;
  border: solid #393939 0.125rem;
  text-align: center;
}

.main__button-box:active {
  top: auto;
  left: auto;
}

.button {
  padding: 0.625rem 0;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.3125rem;
  text-decoration: none;
  color: #ffffff;
  transition: 1s linear;
}

.button-bottom {
  background-color: #5bacc3;
  width: 11rem;
  height: 4rem;
}

.products {
  padding: 1rem 3rem;
  background-color: #f7f7f7;
  color: #393939;
}

.products__heading {
  padding: 2rem;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 3.75rem;
  font-weight: 300;
}

.products__info {
  padding: 1.25rem;
  margin: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.products__card {
  position: relative;
  background-color: #fff;
  width: 20.625rem;
  height: 27.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
}

.products__img {
  height: 17.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem;
}

.products__text {
  height: 7.5rem;
  width: 100%;
  position: absolute;
  border-radius: 0 0 0.625rem 0.625rem;
  background-color: #fff0ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__text-left {
  padding: 0 0.625rem;
  font-family: Open Sans;
  font-weight: 300;
}

.products__title {
  font-size: 2.0625rem;
  color: #393939;
}

.products__subtitle {
  color: #797676;
  font-size: 1.125rem;
}

.products__text-right {
  font-family: Open Sans;
  font-weight: 300;
  padding: 0.625rem;
  margin: 0.625rem;
  font-size: 2.0625rem;
  color: #5bacc3;
  font-weight: bold;
}

.view__button {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.view__button-box:active {
  top: auto;
  left: auto;
}

.view__button-box {
  left: 43.5%;
  top: 88.25rem;
  position: absolute;
  padding: 1rem;
  width: 8.87rem;
  border: solid #393939 0.125rem;
  text-align: center;
}

.section {
  padding: 6rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.section__text {
  padding: 2rem 5rem;
}

.section__heading {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 3.125rem;
  color: #393939;
  padding: 0.625rem 0rem;
}

.section__subheading {
  font-family: Open Sans;
  font-weight: 300;
  padding: 0.625rem 0;
  color: #393939;
}

.section__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
}

.section__icons img {
  padding: 1.5625rem 0rem;
  width: 3.125rem;
}

.learn__button {
  top: 120.95rem;
  left: 9.7%;
  position: absolute;
  padding: 1rem;
  width: 8.87rem;
  border: solid #393939 0.125rem;
  text-align: center;
}

.learn__button:active {
  top: auto;
  left: auto;
}

.tilted__can {
  position: relative;
}

.tilted__can-top {
  position: absolute;
  bottom: 5%;
  right: 14.5%;
  height: 24.375rem;
  width: 25rem;
  border: solid #5bacc3 0.3125rem;
}

.tilted__can-bg {
  z-index: 1;
  background: url("../Assets/coldbrewbackground.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25rem;
  padding: 1rem 4rem 4rem 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tilted__can:hover .titled__can-img {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.titled__can-img {
  padding: 1.25rem 0;
  gap: 1.25rem;
  height: 17.5rem;
}

.discount {
  text-align: center;
  padding: 0 0 6% 8%;
  margin: 2rem;
}

.discount-text {
  padding: 1.875rem 0.625rem;
  margin: 1.25rem 0;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 2.8125rem;
  font-weight: 400;
  color: #fff;
  width: 90%;
  animation: flashing 2.5s ease-in infinite;
}

.text-bold {
  font-weight: bold;
}

@keyframes flashing {
  0%, 100% {
    background-color: #5bacc3;
  }
  50% {
    background-color: #393939;
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.125rem;
  color: #393939;
  background-color: #fff0ed;
}

.footer__text-bold {
  font-weight: bold;
  color: #393939;
  padding-right: 0.375rem;
}

.footer__icons {
  display: inline-block;
  width: 3.125rem;
  padding-right: 0 0.25rem;
}

.footer__text {
  padding: 5% 8%;
  display: inline-block;
}

.footer__text-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text-heading {
  font-size: 2.0625rem;
  padding-bottom: 1.25rem;
} 
.coffee__beans-one {
  margin-top: -6.25rem;
}

.coffee__beans-icon {
  margin: -2.5rem;
  width: 7.5rem;
  opacity: 25%;
}

.coffee__beans-two {
  margin-bottom: -6.25rem;
}/*# sourceMappingURL=landing.css.map */